.profile__name {
  margin: 0;
  padding-top: 22px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 320px) and (max-width:767px) {
  .profile__name{
    padding-top: 28px;
    font-size: 27px;
    line-height: 1;
  }
}
