.popup__error_visible {
  position: absolute;
  font-size: 12px;
  top: 148px;
  color: #FF0000;
}


.popup__error_visible:last-of-type {
  top: 214px;
}

.popup__error_visible:first-of-type {
  top: 148px;
}



@media screen and (min-width: 320px) and (max-width:767px) {
  .popup__error_visible{
    top: 133px;
  }

  .popup__error_visible:last-of-type {
    top: 200px;
  }

  .popup__error_visible:first-of-type {
    top: 133px;
  }

}
