.popup__container{
  position: relative;
  margin: auto;
  width: 430px;
  min-height: 181px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

@media screen and (min-width: 320px) and (max-width:767px) {
  .popup__container{
    width: 282px;
    min-height: 322px;
  }
}
