.header{
  margin: 0 auto;
  padding: 45px 0px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 880px;
  min-width: 282px;
  min-height: 74px;
  border-bottom: 1px solid #545454;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (min-width: 320px) and (max-width:767px) {
  .header{
    padding-top: 28px;
    padding-left: 8px;
    min-height: 56px;
  }
}
