.popup{
  position: fixed;
  display: flex;
  z-index: 100;
  color: #000;
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.5s 0s, opacity 0.5s linear;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', Arial, sans-serif;
}
